### Import et réorganisation des données

In [1]:
# importer les librairies python et numpy
import pandas as pd
import numpy as np

In [2]:
# réorganisation des données concernant la population mondiale
popMonde = pd.read_csv(r'F:\dataAnalyst\Documentation projet\FAO_2013_fr\fr_population.csv')
popMonde = popMonde.pivot_table(index= ['Zone', 'Code zone', 'Année'], values= 'Valeur', columns= 'Élément')
popMonde.rename(columns={'Population totale' : 'Population'}, inplace=True)
popMonde = popMonde.rename_axis(None, axis=1)
popMonde.reset_index(inplace=True)
popMonde['Population'] *= 1000
popMonde.head()

             Zone  Code zone  Année  Population
0     Afghanistan          2   2013    30552000
1  Afrique du Sud        202   2013    52776000
2         Albanie          3   2013     3173000
3         Algérie          4   2013    39208000
4       Allemagne         79   2013    82727000

In [3]:
# réorganisation des données concernant la production de produit animaux
animaux = pd.read_csv(r'F:\dataAnalyst\Documentation projet\FAO_2013_fr\fr_animaux.csv')
animaux = animaux.pivot_table(index= ['Zone', 'Code zone', 'Année', 'Produit', 'Code Produit'], values= 'Valeur', columns= 'Élément')
animaux = animaux.rename_axis(None, axis=1)
animaux.reset_index(inplace=True)
animaux['origine'] = 'animale'
animaux.head()

,Zone,Code zone,Année,Produit,Code Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origine
0,Afghanistan,2,2013,Abats Comestible,2736,NaN,NaN,5.0,1.72,0.20,...,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,animale
1,Afghanistan,2,2013,"Beurre, Ghee",2740,NaN,NaN,23.0,1.17,2.61,...,36.0,NaN,0.0,36.0,NaN,36.0,NaN,NaN,NaN,animale
2,Afghanistan,2,2013,Crème,2743,NaN,NaN,3.0,0.60,0.32,...,18.0,NaN,18.0,18.0,NaN,NaN,NaN,NaN,NaN,animale
3,Afghanistan,2,2013,Graisses Animales Crue,2737,NaN,NaN,12.0,0.49,1.31,...,15.0,NaN,1.0,15.0,NaN,14.0,NaN,NaN,NaN,animale
4,Afghanistan,2,2013,Lait - Excl Beurre,2848,123.0,NaN,100.0,62.23,5.19,...,2083.0,0.0,248.0,1901.0,58.0,1835.0,NaN,NaN,NaN,animale

In [4]:
# réorganisation des données concernant la production de produit végétaux
vegetaux = pd.read_csv(r'F:\dataAnalyst\Documentation projet\FAO_2013_fr\fr_vegetaux.csv')
vegetaux = vegetaux.pivot_table(index= ['Zone', 'Code zone', 'Année', 'Produit', 'Code Produit'], values= 'Valeur', columns= 'Élément')
vegetaux = vegetaux.rename_axis(None, axis=1)
vegetaux.reset_index(inplace=True)
vegetaux['origine'] = 'vegetale'
vegetaux.head()

,Zone,Code zone,Année,Produit,Code Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origine
0,Afghanistan,2,2013,"Agrumes, Autres",2614,NaN,NaN,1.0,1.29,0.01,...,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN,vegetale
1,Afghanistan,2,2013,Aliments pour enfants,2680,NaN,NaN,1.0,0.06,0.01,...,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,vegetale
2,Afghanistan,2,2013,Ananas,2618,NaN,NaN,0.0,0.00,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,vegetale
3,Afghanistan,2,2013,Bananes,2615,NaN,NaN,4.0,2.70,0.02,...,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN,vegetale
4,Afghanistan,2,2013,Bière,2656,NaN,NaN,0.0,0.09,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,vegetale

In [5]:
# réorganisation des données concernant la quantité de céréales produites au niveau mondial
cereales = pd.read_csv(r'F:\dataAnalyst\Documentation projet\FAO_2013_fr\fr_cereales.csv')
cereales = cereales.pivot_table(index= ['Zone', 'Code zone', 'Produit'], values= 'Valeur', columns= 'Élément')
cereales = cereales.rename_axis(None, axis=1)
cereales.reset_index(inplace=True)
cereales.head()

          Zone  Code zone           Produit  Production
0  Afghanistan          2               Blé        5169
1  Afghanistan          2              Maïs         312
2  Afghanistan          2            Millet          13
3  Afghanistan          2              Orge         514
4  Afghanistan          2  Riz (Eq Blanchi)         342

In [6]:
# réorganisation des données concernant le nombre de personnes sous-alimentées dans le monde
sousAlim = pd.read_csv(r'F:\dataAnalyst\Documentation projet\FAO_2013_fr\fr_sousalimentation.csv')
sousAlim['Valeur'] = pd.to_numeric(sousAlim['Valeur'], errors='coerce')
sousAlim['Valeur'] *= 1000000
sousAlim['Année'] = pd.to_numeric(sousAlim['Année'].str[0:4])+1
sousAlim = sousAlim.pivot_table(index= ['Zone', 'Code zone', 'Année'], values= 'Valeur', columns= 'Élément')
sousAlim = sousAlim.rename_axis(None, axis=1)
sousAlim.reset_index(inplace=True)
sousAlim.head()

          Zone  Code zone  Année      Valeur
0  Afghanistan          2   2013   7900000.0
1  Afghanistan          2   2014   8800000.0
2  Afghanistan          2   2015   9600000.0
3  Afghanistan          2   2016  10200000.0
4  Afghanistan          2   2017  10600000.0

### (1) Population mondiale

In [7]:
popMonde['Population'].sum()

8413993000

In [8]:
# classement dans l'ordre décroissant des pays les plus peuplés
popMonde.sort_values(['Population'], ascending=False)

                      Zone  Code zone  Année  Population
33                   Chine        351   2013  1416667000
37     Chine, continentale         41   2013  1385567000
69                    Inde        100   2013  1252140000
172  États-Unis d'Amérique        231   2013   320051000
70               Indonésie        101   2013   249866000
..                     ...        ...    ...         ...
83                Kiribati         83   2013      102000
6       Antigua-et-Barbuda          8   2013       90000
47               Dominique         55   2013       72000
18                Bermudes         17   2013       65000
136   Saint-Kitts-et-Nevis        188   2013       54000

[175 rows x 4 columns]

In [9]:
# Chine continenale = République Populaire de Chine
# Chine = Chine continenale + Hong Kong + Macao + Taïwan
# enlever la Chine du dataframe pour avoir un résultat qui colle à la réalité
popMonde.drop(popMonde.loc[popMonde['Zone']== 'Chine'].index, inplace=True)

In [85]:
# calcul de la population avec données à jour
popMonde2013 = popMonde['Population'].sum()

In [84]:
print("En 2013, la population mondiale est estimée par la FAO à : {} habitants".format(popMonde2013))

En 2013, la population mondiale est estimée par la FAO à : None habitants

### (2) Redondances des bilans alimentaires

In [12]:
# exemple du blé en France
bleFrance = vegetaux.loc[(vegetaux['Zone']== 'France') & (vegetaux['Produit']== 'Blé'), :].iloc[0]
bleFrance['Disponibilité intérieure']

20298.0

In [13]:
bleFrance['Production'] + bleFrance['Importations - Quantité'] + bleFrance['Variation de stock'] - bleFrance['Exportations - Quantité']

20298.0

In [14]:
bleFrance['Nourriture'] + bleFrance['Pertes'] + bleFrance['Semences'] + bleFrance['Traitement'] + bleFrance['Aliments pour animaux'] + bleFrance['Autres utilisations (non alimentaire)']

20298.0

### (3) Disponibilité alimentaire en kcal et en kg de protéines pour chaque pays et chaque produit

In [15]:
# concaténation des dataframe animaux et vegetaux
animauxVegetaux = pd.concat([animaux, vegetaux])

In [16]:
# jointure avec la dataframe popMonde
dispo2013 = pd.merge(animauxVegetaux, popMonde[['Zone', 'Population']], on='Zone', how='inner')

In [17]:
#calcul disponibilité alimentaire en Kcal/pays/an
dispo2013['dispoAlimKcal'] = dispo2013['Disponibilité alimentaire (Kcal/personne/jour)'] * dispo2013['Population'] * 365

In [18]:
#calcul disponibilité de protéines en kg/pays/an
dispo2013['dispoAlimProtKg'] = dispo2013['Disponibilité de protéines en quantité (g/personne/jour)'] * dispo2013['Population'] / 1000 * 365

In [19]:
dispo2013.head()

,Zone,Code zone,Année,Produit,Code Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origine,Population,dispoAlimKcal,dispoAlimProtKg
0,Afghanistan,2,2013,Abats Comestible,2736,NaN,NaN,5.0,1.72,0.20,...,53.0,NaN,53.0,NaN,NaN,NaN,animale,30552000,5.575740e+10,8586639.6
1,Afghanistan,2,2013,"Beurre, Ghee",2740,NaN,NaN,23.0,1.17,2.61,...,36.0,NaN,36.0,NaN,NaN,NaN,animale,30552000,2.564840e+11,334544.4
2,Afghanistan,2,2013,Crème,2743,NaN,NaN,3.0,0.60,0.32,...,18.0,NaN,NaN,NaN,NaN,NaN,animale,30552000,3.345444e+10,446059.2
3,Afghanistan,2,2013,Graisses Animales Crue,2737,NaN,NaN,12.0,0.49,1.31,...,15.0,NaN,14.0,NaN,NaN,NaN,animale,30552000,1.338178e+11,111514.8
4,Afghanistan,2,2013,Lait - Excl Beurre,2848,123.0,NaN,100.0,62.23,5.19,...,1901.0,58.0,1835.0,NaN,NaN,NaN,animale,30552000,1.115148e+12,68247057.6

### (4) Ratio énergie/poids

In [129]:
# conservation des colonnes utiles
ratio = dispo2013[['Produit', 'dispoAlimKcal', 'dispoAlimProtKg', 'Nourriture']].copy()

In [130]:
# remplacement des valeur égales à 0 par NaN
ratio.replace(0, np.nan, inplace=True)

In [131]:
# calcul de ratio énergie/poids et poids de protéines/poids total
ratio['ratioKcalKg'] = ratio['dispoAlimKcal'] / (ratio['Nourriture'] * 1000000)
ratio['ratioProtPds'] = ratio['dispoAlimProtKg'] / (ratio['Nourriture'] * 1000000)

In [136]:
# ratios réunis par produit
ratio = ratio[['Produit', 'ratioKcalKg', 'ratioProtPds']].groupby('Produit').mean()
ratio.reset_index(inplace=True)

In [138]:
# valeur calorique d'un oeuf : 1470Kcal/kg (source: wikipedia.org)
ratio.loc[ratio['Produit']== 'Oeufs']

   Produit  ratioKcalKg  ratioProtPds
58   Oeufs  1345.300386      0.105592

In [139]:
# pourcentage de protéines de l'avoine : 10.7% (source: wikipedia.org)
ratio.loc[ratio['Produit']== 'Avoine']

  Produit  ratioKcalKg  ratioProtPds
7  Avoine  2143.296415      0.084471

### (5) Classement des aliments les plus caloriques et des plus riches en protéines

In [26]:
# produits classés de manière décroissante selon le ratio Kcal/kg
ratios.sort_values('ratioKcalKg', ascending=False).head(20)

                     Produit  ratioKcalKg  ratioProtPds
45  Huiles de Foie de Poisso  9982.932500           NaN
43           Huile de Sésame  9433.744729           NaN
42       Huile de Son de Riz  9361.549883      0.006927
46        Huiles de Poissons  9003.715504           NaN
34          Huile d'Arachide  8935.765811      0.010132
35             Huile d'Olive  8931.223447           NaN
38    Huile de Germe de Maïs  8871.762566      0.007495
32   Huil Plantes Oleif Autr  8848.222893      0.011047
40        Huile de Palmistes  8789.540277      0.006703
33    Huile Graines de Coton  8750.320136      0.005643
39            Huile de Palme  8719.419872      0.004927
44        Huile de Tournesol  8693.245772      0.002850
41             Huile de Soja  8635.808245      0.003208
37   Huile de Colza&Moutarde  8627.372452      0.003939
36             Huile de Coco  8565.739255      0.007418
30    Graisses Animales Crue  7583.862063      0.014506
10              Beurre, Ghee  7331.424291      0.009006
63                 Palmistes  6496.635000           NaN
87                    Sésame  5796.120413      0.175040
6     Arachides Decortiquees  5702.900100      0.251466

In [27]:
# produits classés de manière décroissante selon le ratio poids de protéines / poids total du produit
ratios.sort_values('ratioProtPds', ascending=False).head(20)

                     Produit  ratioKcalKg  ratioProtPds
27    Graines Colza/Moutarde  4150.299049      0.285365
81                      Soja  3287.966903      0.285331
6     Arachides Decortiquees  5702.900100      0.251466
70                      Pois  3475.044111      0.223244
50       Légumineuses Autres  3416.965957      0.219716
31                  Haricots  3395.683518      0.215452
0           Abats Comestible  1129.258163      0.175610
87                    Sésame  5796.120413      0.175040
95             Viande, Autre  1295.626878      0.174024
69  Plantes Oleiferes, Autre  4350.089305      0.170544
3      Aliments pour enfants  3690.832338      0.148832
92          Viande de Bovins  1679.369244      0.143780
16              Cephalopodes   842.188316      0.139904
90    Viande d'Ovins/Caprins  1992.254594      0.135803
94       Viande de Volailles  1301.310330      0.126209
67                   Piments  3339.741547      0.121003
73       Poissons Pelagiques   933.443661      0.119346
29      Graines de tournesol  3207.652850      0.111823
72   Poissons Marins, Autres   776.077214      0.110133
97            Épices, Autres  3489.897394      0.107418

### (6) Disponibilité intérieure mondiale en Kcal

In [28]:
vegetauxPdt = animauxVegetaux.loc[animauxVegetaux['origine']== 'vegetale', :]
vegetauxPdt = pd.merge(vegetauxPdt, ratios, on='Produit', how='left')
vegetauxPdt['DispoInKcal'] = vegetauxPdt['Disponibilité intérieure'] * vegetauxPdt['ratioKcalKg']
vegetauxPdt

,Zone,Code zone,Année,Produit,Code Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origine,ratioKcalKg,ratioProtPds,DispoInKcal
0,Afghanistan,2,2013,"Agrumes, Autres",2614,NaN,NaN,1.0,1.29,0.01,...,39.0,2.0,3.0,NaN,NaN,NaN,vegetale,248.981045,0.004426,10208.222861
1,Afghanistan,2,2013,Aliments pour enfants,2680,NaN,NaN,1.0,0.06,0.01,...,2.0,NaN,NaN,NaN,NaN,NaN,vegetale,3690.832338,0.148832,7381.664675
2,Afghanistan,2,2013,Ananas,2618,NaN,NaN,0.0,0.00,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,vegetale,439.413583,0.003079,0.000000
3,Afghanistan,2,2013,Bananes,2615,NaN,NaN,4.0,2.70,0.02,...,82.0,NaN,NaN,NaN,NaN,NaN,vegetale,610.338772,0.008215,50047.779284
4,Afghanistan,2,2013,Bière,2656,NaN,NaN,0.0,0.09,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,vegetale,453.541987,0.004674,1360.625960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11966,Îles Salomon,25,2013,Sésame,2561,NaN,NaN,0.0,0.01,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,vegetale,5796.120413,0.175040,0.000000
11967,Îles Salomon,25,2013,Thé,2635,NaN,NaN,0.0,0.17,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,vegetale,443.846146,0.091113,0.000000
11968,Îles Salomon,25,2013,Tomates,2601,NaN,NaN,0.0,0.07,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,vegetale,206.074377,0.009568,0.000000
11969,Îles Salomon,25,2013,Vin,2655,NaN,NaN,0.0,0.07,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,vegetale,755.680845,0.000072,0.000000
11970,Îles Salomon,25,2013,"Épices, Autres",2645,NaN,NaN,4.0,0.48,0.21,...,0.0,NaN,0.0,NaN,NaN,NaN,vegetale,3489.897394,0.107418,0.000000

### (7) Utilisation de la disponibilité intérieure mondiale de produit végétaux comme nourriture

In [29]:
# on estime la ration alimentaire d'un être humain à 2500Kcal/jour
# apport nutritionnel conseillé en protéines (0.8g/kg/jour)
# poids moyen être humain (62kg)
rationAlimMoy = 2500
anc = 0.8
poidsHumainMoy = 62

In [30]:
protBesoin = poidsHumainMoy * anc * 0.001

In [106]:
probKcalQ7 = vegetauxPdt['DispoInKcal'].sum() / (rationAlimMoy * 365) * 1000000

In [108]:
print(round(probKcalQ7), "d'humains seraient nourris.")
print('Soit', round(probKcalQ7 / popMonde2013 * 100), '% de la population mondiale.')

18206550006 d'humains seraient nourris.
Soit 260 % de la population mondiale.

In [33]:
vegetauxPdt['DispoInProtKg'] = (vegetauxPdt['Disponibilité intérieure'] * 1000000) * vegetauxPdt['ratioProtPds']

In [34]:
probProtKgQ7 = vegetauxPdt['DispoInProtKg'].sum() / (protBesoin * 365)

In [110]:
print(round(probProtKgQ7), 'humains seraient nourris.')
print('Soit', round(probProtKgQ7 / popMonde2013 * 100), '% de la population mondiale.')

23726950873 humains seraient nourris.
Soit 339 % de la population mondiale.

### (8) Utilisation de la disponibilité alimentaire en produit végétaux, de la nourriture végétale destinée aux animaux et des perte de produits végétaux comme nourriture

In [36]:
esbVegetaux = vegetauxPdt[['Nourriture', 'Aliments pour animaux', 'Pertes']].sum(axis=1)

In [119]:
probKcalQ8 = (esbVegetaux * vegetauxPdt['ratioKcalKg']).sum() / (rationAlimMoy * 365) * 1000000
print(round(probKcalQ8), 'humains seraient nourris')
print('Soit', round(probKcalQ8 / popMonde2013 * 100), '% de la population mondiale')

12654992411 humains seraient nourris
Soit 181 % de la population mondiale

In [120]:
probProtKgQ8 = (esbVegetaux * vegetauxPdt['ratioProtPds']).sum() / (protBesoin * 365) * 1000000
print(round(probProtKgQ8), 'humains seraient nourris')
print('Soit', round(probProtKgQ8 / popMonde2013 * 100), '% de la population mondiale')

14683506735 humains seraient nourris
Soit 210 % de la population mondiale

### (9) Utilisation de la disponibilité alimentaire mondiale comme nourriture

In [96]:
probKcalQ9 = ratio['dispoAlimKcal'].sum() / (rationAlimMoy * 365)
print(round(probKcalQ9), "d'humains peuvent être nourris")
print('Soit', round(probKcalQ9 / popMonde2013 * 100), '% de la population mondiale.')

8070009228 d'humains peuvent être nourris
Soit 115 % de la population mondiale.

In [99]:
probProtKgQ9 = ratio['dispoAlimProtKg'].sum() / (protBesoin * 365)
print(round(probProtKgQ9), "d'humains peuvent être nourris")
print('Soit', round(probProtKgQ9 / popMonde2013 * 100), '% de la population mondiale.')

11448253429 d'humains peuvent être nourris
Soit 164 % de la population mondiale.

### (10) Proportion de la population en sous-noutrition

In [123]:
popSousAlim = sousAlim['Valeur'].sum()
print(round(popSousAlim / popMonde2013 *100), '% de la population mondiale souffre de la faim.')

62 % de la population mondiale souffre de la faim.

### (11) Proportion de l'alimentation animale dans les céréales déstinées à l'alimentation humaine et animale

In [43]:
listeCereales = cereales[['Produit']]

In [44]:
vegetauxPdt['is_cereal'] = vegetauxPdt['Produit'].isin(listeCereales['Produit'])

In [45]:
cerealesTable = vegetauxPdt.loc[vegetauxPdt['is_cereal'], :].copy()

In [46]:
cerealesFood = vegetauxPdt['Nourriture'].sum()
cerealesAnimaux = vegetauxPdt['Aliments pour animaux'].sum()

In [47]:
listePaysSousAlim = sousAlim.loc[sousAlim['Valeur']>0, 'Zone'].unique()

In [48]:
exportPdt = vegetauxPdt.loc[vegetauxPdt['Zone'].isin(listePaysSousAlim), :]
exportPdt = exportPdt.loc[:, exportPdt.columns != 'Année'].groupby('Produit').sum().reset_index()
exportPdt = exportPdt.sort_values('Exportations - Quantité', ascending=False)[:15]
exportPdt.head()

,Produit,Code zone,Code Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Pertes,Production,Semences,Traitement,Variation de stock,ratioKcalKg,ratioProtPds,DispoInKcal,DispoInProtKg,is_cereal
42,Maïs,12850,248886,428216.0,81319.0,25029.0,2948.02,246.14,639.06,691815.0,...,40359.0,699892.0,6861.0,19551.0,-22023.0,298017.558757,7.154827,2.082556e+09,4.999815e+10,99
32,Huile de Palme,12608,249969,0.0,29464.0,6927.0,287.68,783.37,0.29,45362.0,...,417.0,53461.0,0.0,0.0,-875.0,845783.727593,0.477878,3.955303e+08,2.234793e+08,0
41,Manioc,11937,235476,98606.0,43350.0,8529.0,3084.07,11.49,63.70,266059.0,...,28524.0,237748.0,0.0,26.0,-593.0,92092.588769,0.676458,2.634630e+08,1.935245e+09,0
9,Blé,12850,248589,79021.0,13081.0,46565.0,5891.11,226.83,1357.69,539713.0,...,22762.0,470807.0,19279.0,1560.0,-8575.0,282020.139807,8.104710,1.537474e+09,4.418401e+10,99
62,Riz (Eq Blanchi),12850,277695,45044.0,19932.0,39419.0,4032.19,95.68,770.65,578452.0,...,31947.0,601480.0,16423.0,5206.0,-20732.0,361769.493346,6.956121,2.113801e+09,4.064426e+10,99

In [49]:
importPdt = exportPdt['Produit']
importPdt = exportPdt.loc[exportPdt['Produit'].isin(importPdt), :]
importPdt = importPdt.sort_values('Importations - Quantité', ascending=False)[:200]
importPdt = importPdt[['Produit','Nourriture','Aliments pour animaux','Autres utilisations (non alimentaire)','Disponibilité intérieure']]

In [50]:
importGroupe = importPdt.groupby('Produit').sum()
importGroupe['ratioOtherUsesDispoIn'] = importGroupe['Autres utilisations (non alimentaire)'] / importGroupe['Disponibilité intérieure']
importGroupe['ratioAnimaleHumainAnimale'] = importGroupe['Aliments pour animaux'] / (importGroupe['Nourriture'] + importGroupe['Aliments pour animaux'])
importGroupe

,Nourriture,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,ratioOtherUsesDispoIn,ratioAnimaleHumainAnimale
Produit,,,,,,
Ananas,16004.0,0.0,1.0,17969.0,0.000056,0.000000
Bananes,77909.0,828.0,118.0,96429.0,0.001224,0.010516
Blé,404066.0,79021.0,13081.0,539713.0,0.024237,0.163575
"Fruits, Autres",197133.0,43.0,74.0,217943.0,0.000340,0.000218
Huile de Palme,15617.0,0.0,29464.0,45362.0,0.649530,0.000000
"Légumes, Autres",1074207.0,75234.0,78.0,1243132.0,0.000063,0.065453
Manioc,95571.0,98606.0,43350.0,266059.0,0.162934,0.507815
Maïs,115591.0,428216.0,81319.0,691815.0,0.117544,0.787441
"Oranges, Mandarines",72850.0,11.0,30.0,77435.0,0.000387,0.000151
Orge,5670.0,24541.0,404.0,47029.0,0.008590,0.812320
Pommes,72734.0,401.0,29.0,87908.0,0.000330,0.005483
Riz (Eq Blanchi),459909.0,45044.0,19932.0,578452.0,0.034457,0.089204
Soja,13654.0,22083.0,638.0,227705.0,0.002802,0.617931
Sucre Eq Brut,100648.0,23.0,6107.0,128761.0,0.047429,0.000228
Tomates,140897.0,0.0,49.0,153577.0,0.000319,0.000000

### (12) Les trois produits qui on t la plus grande valeur pour chacun des 2 ratios

In [51]:
importGroupe.sort_values('ratioOtherUsesDispoIn', ascending=False)[:3]

,Nourriture,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,ratioOtherUsesDispoIn,ratioAnimaleHumainAnimale
Produit,,,,,,
Huile de Palme,15617.0,0.0,29464.0,45362.0,0.649530,0.000000
Manioc,95571.0,98606.0,43350.0,266059.0,0.162934,0.507815
Maïs,115591.0,428216.0,81319.0,691815.0,0.117544,0.787441

In [52]:
importGroupe.sort_values('ratioAnimaleHumainAnimale', ascending=False)[:3]

,Nourriture,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,ratioOtherUsesDispoIn,ratioAnimaleHumainAnimale
Produit,,,,,,
Orge,5670.0,24541.0,404.0,47029.0,0.008590,0.812320
Maïs,115591.0,428216.0,81319.0,691815.0,0.117544,0.787441
Soja,13654.0,22083.0,638.0,227705.0,0.002802,0.617931

### (13) Baisse des USA de 10% de leur production de produits animaux

In [63]:
EcoCerealesUsa = cerealesTable.loc[(cerealesTable['Zone']== "États-Unis d'Amérique") & (cerealesTable['is_cereal']), :]
print(EcoCerealesUsa['Aliments pour animaux'].sum(), 'tonnes disponibles')

140096.0 tonnes disponibles

In [53]:
EcoCerealesUsa = cerealesTable.loc[(cerealesTable['Zone']== "États-Unis d'Amérique") & (cerealesTable['is_cereal']), :]
print((EcoCerealesUsa['Aliments pour animaux'].sum() * 0.1), 'de tonnes de céréales pourraient être libérées.')

14009.6 de tonnes de céréales pourraient être libérées.

### (14) Proportion d'exportation du manioc et de personnes en sous-nutrition en Thaïlande

In [54]:
maniocThai = vegetauxPdt.loc[(vegetauxPdt['Zone']== 'Thaïlande') & (vegetauxPdt['Produit']== 'Manioc'), :]
print(round(maniocThai['Exportations - Quantité'].iloc[0] / (maniocThai['Production'].iloc[0] + maniocThai['Importations - Quantité'].iloc[0] + maniocThai['Variation de stock'].iloc[0]) * 100, 1), '% du manioc en Thaïlande est exporté.')

80.1 % du manioc en Thaïlande est exporté.

In [55]:
popThai = popMonde.loc[popMonde['Zone']== 'Thaïlande', 'Population'].iloc[0]
sousAlimThai = sousAlim.loc[sousAlim['Zone']== 'Thaïlande', 'Valeur'].iloc[0]
print(round(sousAlimThai / popThai * 100, 2), "% des Thaïlandais sont victimes d'insuffisance alimentaire.")

8.36 % des Thaïlandais sont victimes d'insuffisance alimentaire.

### Exportation de dataframe vers une base de données

In [75]:
popMonde.to_csv("population.csv", index=False)

In [57]:
dispo_alim = animauxVegetaux[['Zone', 'Code zone', 'Année', 'Produit', 'Code Produit', 'origine', 'Disponibilité intérieure', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)', 'Disponibilité de matière grasse en quantité (g/personne/jour)']].copy().to_csv("dispo_alim.csv", index=False)

In [72]:
equilibre_prod = animauxVegetaux[['Zone', 'Code zone', 'Année', 'Produit', 'Code Produit', 'origine', 'Disponibilité intérieure', 'Aliments pour animaux', 'Semences', 'Pertes', 'Traitement','Nourriture', 'Autres utilisations (non alimentaire)']].to_csv("equilibre_prod.csv", index=False)

In [59]:
sousAlim.to_csv("sous_nutrition.csv", index=False)